@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::selection {
    @apply bg-app-clr-error text-white;
  }

  html {
    color-scheme: dark light;
  }

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
}
